body {
  font-family: "Source Serif Pro", serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffe684; /* #ffda47b3 */
  color: black;
  text-align: center;
}

.mainPageContent {
  margin-left: 24px;
  margin-right: 24px;
}

.dateBar > p {
  padding: 6px 0px 4px 24px;
}

.uk-navbar-container, .dateBar {
  background-color: #ffe684 !important; /* #ffda47b3 */
  margin-bottom: 0px;
}

.uk-navbar-nav > li > a {
  font-family: "Source Serif Pro", serif;
  font-size: 1.25em;
}

.photoWallCaption {
  color: white;
  margin-left: 16px;
  margin-right: 16px;
}

.uk-card {
  border-radius: 16px;
}

.uk-card-media-top > img,
.uk-card-media-top > a > img {
  border-radius: 16px;
}

.fa-fw {
  padding-right: 4px;
}

.approveButton {
  background-color: green;
}

.approveButton:hover {
  background-color: darkgreen;
}

.rejectButton {
  background-color: red;
}

.rejectButton:hover {
  background-color: darkred;
}

#reviewQueue {
  margin-left: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #ffda4780;
}

.queueRow {
  margin-top: 10px;
}

#mainReviewArea,
#photoWallSection {
  margin-top: 20px;
}

#websiteCredit {
  opacity: 40%;
}

#photoWallSection {
  margin-bottom: 20px;
}

#faqContent {
  margin-bottom: 80px;
}

.dbr-hero-header {
  /* background-image: url("./images/hero_tad_scott.jpg"); */
  height: 350px;
  width: 100vw;
  object-fit: cover;
}

#background {
  width: 100%; 
  height: 25%; 
  position: absolute; 
  left: 0px; 
  top: 80px; 
  z-index: 0;
}

.stretch {
  object-fit: cover;
  width:100%;
  height:100%;
}

.flagTag {
  background-color: yellow;
  color: black;
  font-weight: 600;
  font-size: 1.2em;
}

.stateTag {
  background-color: #191716;
}

.idTag {
  background-color: #f46036;
}

.warningTag {
  background-color: transparent;
  color: red;
  font-size: 3em;
}

.uk-tooltip-bottom-center {
  margin-top: -10px;
}

.warningTag > a {
  color: inherit;
}

.uk-modal-header {
  padding-left: 0px;
}

.mapBox,
#sampleImage {
  height: 200px;
  margin-right: 10px;
  margin-top: 4px;
  border-radius: 16px;
}

#map {
  height: 100%;
  border-radius: 16px;
}

#approvalButtons {
  text-align: center;
}

.roundedImageCorners,
.mk-map-view {
  border-radius: 16px;
}
