body {
    font-family: 'Source Serif Pro', serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFDA47B3;
    color: black;
    text-align: center;
}

.uk-navbar-container {
    background-color: #FFDA47B3 !important;
    margin-bottom: 0px;
}

.uk-navbar-nav > li > a {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.25em;
}

.photoWallCaption {
    color: white;
    margin-left: 16px;
    margin-right: 16px;
}

.uk-card {
    border-radius: 16px;
}

.approveButton {
    background-color: green;
}

#reviewQueue {
    margin-left: 40px;
    background-color: #FFDA4780;
}

#mainReviewArea, #photoWallSection {
    margin-top: 20px;
}

#websiteCredit {
    opacity: 40%;
}

#photoWallSection {
    margin-bottom: 20px;
}

#faqContent {
    margin-bottom: 80px;
}

.dbr-hero-header {
    background-image: url("./images/hero_tad_scott.jpg");
}